.navbar {
  width: 100%;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar__logo {
  height: 6rem;
  object-fit: contain;
}
